@import '~bootstrap/scss/bootstrap';

// colors
$primary-color: #d63384; 
$secondary-color: #6c757d; 
$background-color: #f8f9fa; 
$gradient-start: #e83e8c;
$gradient-end: #adb5bd; 

// body
body {
    background-color: $background-color;
    color: $secondary-color;
}

// navbar
.navbar {
    background: linear-gradient(135deg, $gradient-start, $gradient-end);
    .navbar-brand {
        color: white;
        font-weight: bold;
    }
    .nav-link {
        color: white;
        &:hover {
            color: $primary-color;
        }
    }
    .navbar-nav .nav-link {
        font-weight: bold; 
        font-size: 1.1rem; 
        transition: color 0.3s ease-in-out, transform 0.2s ease-in-out; 
    
        &:hover {
            color: #ffcccc !important; 
            transform: scale(1.05); 
        }
    }
    
}

// buttons
.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }
}

// footer and other sections
// .footer {
//     background: linear-gradient(135deg, $gradient-end, $gradient-start);
//     color: white;
//     text-align: center;
//     padding: 20px;
// }

